body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.search {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 10px;
    align-items: center;
}

.header {
    position: relative;
    background-color: white;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo h1 {
    color: black;
    font-size: 30px;
    margin: 0;
    text-align: left;
}
.search input {
    width: 400px;
    height: 20px;
    font-size: 20px;
}

.search button {
    height: 25px;
    padding: 0 20px;
    font-size: 18px;
}

.header-icons {
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 24px;
    color: #d01818;

}
.h1 {
    text-align: center;
    margin-top: 20px;
}
.menu {
    display: flex;
    background-color: brown;
    color: white;
    padding-left: 10px;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.menu p,
.department {
    margin: 0;
    padding: 15px 30px;
}

.department {
    background-color: #333;
}



.breadcrumb {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}


.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
}

.product {
    width: calc(33.33% - 14px);
    text-align: center;
}

.product img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.product p {
    font-size: 12px;
    letter-spacing: 2px;
}

.product h3 {
    margin: 5px;
    font-size: 15px;
}

.product b {
    font-size: 16px;
}
.brands {
    display: flex;
    justify-content: space-around;
    background-color: brown;
    color: #fdf9f9;
    padding: 25px;
    font-size: 20px;
}
.information{
    display:flex;
    padding: 20px;
    justify-content: space-between;
}
.content p {
    font-size: 11px;
    line-height: 1.5;
    margin: 0;
}

